h1 {
    color:red;
}
#f1 {
    color:pink;
}
.f2 {
    color:lightblue;
}
p #b1 {
    color: lightseagreen;
}
p #b2 {
    color: lightyellow;
    background-color:lime ;
}
p #b3 {
    color: lightpink;
}

